extends layouts/layout.pug 
block styles
    link(rel="stylesheet", href="/css/forms.css")
block content
    main
        h1 #{pageTitle}
            form.product-form(action="/admin/add-product" method="POST")
                .form-control
                    label.title title
                    input#title(type="text" name="title")
                    button(type="submit") Submit

